*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: auto; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveToLeft 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveToRight 1s;
    animation-timing-function: ease-out;
    margin-bottom: 6rem; }

.header-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  .header-secondary:hover {
    transform: skewY(2deg) skew(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section-about {
  background: #f7f7f7;
  padding: 27rem 0;
  margin-top: -20vh; }

.features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -15rem; }
  .features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -12vh; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    background-color: #fff;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white--white {
    background: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.3rem;
  display: inline-block;
  color: #55c57a;
  border-bottom: 0.1rem solid #55c57a;
  transition: all .2s;
  background: none; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0rem); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 11;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all .2s;
  border-radius: 1%;
  padding: 2.5rem; }
  .feature-box__icon {
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 5rem;
    background-image: linear-gradient(to right, #28b485, #7ed56f);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text:before {
    display: block;
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem; }
  .feature-box:hover {
    transform: translateY(-2rem); }

.card {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    width: 100%;
    height: 50rem;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7300); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7300), url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #55c57a, #7ed56f), url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    text-align: right;
    font-weight: 300;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 12rem;
    text-transform: uppercase;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 115, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right, rgba(85, 197, 122, 0.85), rgba(126, 213, 111, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    color: #fff; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 2rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%); }
  .header__logo {
    height: 3.5rem; }
    .header__logo-box {
      position: absolute;
      left: 4rem;
      top: 4rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: block; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * (calc((100% - (2 * 6rem)) / 3)) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * (calc((100% - (3 * 6rem)) / 4)) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (calc((100% - (3 * 6rem)) / 4)) + 2 * 6rem); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
