@import "../abstracts/variables";

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.81),
          rgba($color-primary-dark, 0.8)),
  url(../../img/hero.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);

  &__logo {
    height: 3.5rem;

    &-box {
      position: absolute;
      left: 4rem;
      top: 4rem;
    }
  }

  &__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}