
.feature-box {
  background-color: rgba($color-white,0.8);
  display: inline-block;
  box-shadow: 0 .5rem 1rem rgba($color-black, .15);
  text-align: center;
  transition: all .2s;
  border-radius: 1%;
  padding: 2.5rem;

  &__icon {
    display: block;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 5rem;
    background-image: linear-gradient(to right, $color-primary-dark , $color-primary-light);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__text:before {
    display: block;
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
  }

  &:hover {
    transform: translateY(-2rem);
  }
}
