
.footer {
  background-color: $color-light-black;
  padding: 10rem 0;

  &__logo {
    width: 20rem;
    display: block;
    margin: 0 auto;
  }

  &__navigation {

  }
  &__list {
    list-style: none;
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
  }

  &__item {
    display: inline-block;
    padding: 0 3rem;
    transition: all .3s;
    color: $color-white;
    &--link {
    text-decoration: none;
      color: inherit;
    }
  }

  &__item:hover {
    transform: scale(1.2);
    color: $color-primary-light;
  }

  .developers-credit {
    margin-top: 5rem;
  }
}