.form {

  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: .2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    font-family: inherit;
    width: 90%;
    display: block;
    color: inherit;

    &::-webkit-input-placeholder {
      color: $color-grey-light-2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: .5rem solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: .5rem solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    opacity: 1;
    transform: translateY(-10%);
    transition: all .2s;
  }

  &__radio-input {
    visibility: hidden;
  }
  &__radio-group {
    width: 49%;
    display: inline-block;

    .btn--green {
      margin-top: 4rem;
      width: 100%;
      text-align: center ;
    }
  }

  &__radio-label {
    font-style: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid $color-primary-dark;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.6rem;

    &::after {
      width: 1rem;
      height: 1rem;
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary-dark;
      opacity: 0;
    }

  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden; // not only that because we cant animate this property
    transform: translateY(-4rem);
  }

}


