@import "../abstracts/variables";

.section-about {
  background: $color-grey-light-1;
  padding: 27rem 0;
  margin-top: -20vh;
}

.features {
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.81),
          rgba($color-primary-dark, 0.8)),
  url(../../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -15rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  padding: 25rem 0;
  background-color:  $color-grey-light-1;
  margin-top: -12vh;
}